@{
    ViewBag.Title = "Acceso";
    Layout = "~/Views/Shared/_LayoudLogin.cshtml";
}
<div class="login-logo">
    <a href="#">
        <img src="~/images/logo.jpg" alt="Logo de la empresa" width="200" height="150">
    </a>
</div>
<div class="login-form">
    <form asp-action="Login" method="post">
        <div class="form-group">
            <label>Usuario</label>
            <input class="au-input au-input--full" type="text" name="User" placeholder="Usuario">
        </div>
        <div class="form-group">
            <label>Contraceña</label>
            <input class="au-input au-input--full" type="password" name="Pass" placeholder="Password">
        </div>
        <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Ingresar</button>
    </form>
</div>
