@model SARAPROJECT.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdRol" class="control-label"></label>
                <select asp-for="IdRol" class ="form-control" asp-items="ViewBag.IdRol"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdSucursal" class="control-label"></label>
                <select asp-for="IdSucursal" class ="form-control" asp-items="ViewBag.IdSucursal"></select>
            </div>
            <div class="form-group">
                <label asp-for="CedulaUsuario" class="control-label"></label>
                <input asp-for="CedulaUsuario" class="form-control" />
                <span asp-validation-for="CedulaUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreUsuario" class="control-label"></label>
                <input asp-for="NombreUsuario" class="form-control" />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailUsuario" class="control-label"></label>
                <input asp-for="EmailUsuario" class="form-control" />
                <span asp-validation-for="EmailUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <select name="Sexo" id="Sexo" class="form-control" >
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                </select>
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contracenia" class="control-label"></label>
                <input asp-for="Contracenia" class="form-control" />
                <span asp-validation-for="Contracenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SisUsuario" class="control-label"></label>
                <input asp-for="SisUsuario" class="form-control" />
                <span asp-validation-for="SisUsuario" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
