.cargeList{
    margin: 10px auto 10px auto;
    padding: 20px;
    background-color:burlywood; 
}
.inputHide{
    display: none;
}

.ventaDetalle {
    font-size: 11px;
}

.ventaDetalle label{
    font-weight:bold;
}
.ventaDetalle input{
    font-size:12px;
    display:inline-block;
}
.ventaDetalle select {
    font-size: 12px;
    display: inline-block;
}

.tableListContent{
    height:200px;
}