.cargeList{
    margin: 10px auto 10px auto;
    padding: 20px;
    background-color:burlywood; 
}
.inputHide{
    display: none;
}

.ventaDetalle {
    font-size: 11px;
}

    .ventaDetalle input{
        width: 125px;
        height: 35px;
    }
    .ventaDetalle select {
        width: 125px;
        height: 35px;
    }
