
.container {
    margin-top:10px;
    position: relative;
}

    .container .slider {
        display: flex;
        background: #011b27;
        padding: 2px;
        width: 550px;
        height: 110px;
        overflow: hidden;
        scroll-behavior: smooth;
    }

        .container .slider button {
            margin: 3px;
            display: inline-block;
            width:250px;
            font-size:10px;
            justify-content:start;
            height:100px;
        }

@media (max-width: 1200px) {
    .container .slider {
        width: 380px;
    }
}
